body {
    background-color: #FFFAF0;
    color: #0B3254;
}

header, main, nav, footer {
    text-align: center;
}

nav a {
    padding:15px;
    padding-bottom:4px;
    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;     /* removes underline */
    color: #696969;              /* by default, links are blue */
}

nav a:hover { /* pueudo class */
    border-bottom:2px #CD5C5C solid;
    font-size: 2em;
    transition: .9;     /* transition effect */
}

main {
    display: flex;
    justify-content: center;
}

#footersection {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

footer {
    font-size:12px;
    color: #0B3254;
}

table {
    margin: 0px auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color:#696969;
}

#table-header {
    background-color: #CD5C5C80;
}

.table-row {
    background-color: #CD5C5C40;
}

ul {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

.hobby {
    color: #CD5C5C;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}

#form {
    text-align: center;
}

.red {
    color: #CD5C5C;
}

